/* body {
    background-color: black;
} */
nav{
    background-color: rgb(77, 66, 9);
}
main {
    background-color: black;
    display: flex;
    display: grid;
    grid-template-columns: 100%;
}
div.about{
    text-align: center;
    color: white;
}
ul.nav li{ display: none;
    
}
div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    width: 100%;
}